<div class="container">
  <div class="title">
    <h1>To Do List</h1>
  </div>
  <br>
  <div class="row">
    <table class="table table-dark table-striped">
      <tr class="app-row">
        <td>
          <div class="center">
            <input type="radio" class="form-control radio-button inline" name="forWhat" value="true" [(ngModel)]="forWhat">
            <h4 class="inline">Use Cookies</h4>
          </div>
        </td>
        <td>
          <div class="center">
            <input type="radio" class="form-control radio-button inline" name="forWhat" value="false" [(ngModel)]="forWhat">
            <h4 class="inline">Use API</h4>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <br>
  <div class="row">
    <div class="col-8">
      <input type="text" name="task-input" id="task-input" class="form-control full-width" [(ngModel)]="newTask" placeholder="Type here........"
        (keyup.enter)="addTask(newTask)">
    </div>
    <div class="col-4">
      <button class="btn btn-primary full-width {{(newTask===undefined || newTask.length===0)?'cancel-icon':'hand'}}" (click)="addTask(newTask)"
        [disabled]="newTask===undefined || newTask.length===0">ADD</button>
    </div>
  </div>
  <br>
  <table class="table table-dark table-striped">
    <ng-container *ngIf="tasks.length === 0">
      <tr class="app-row">
        <td>
          <div class="center">No Tasks Today</div>
        </td>
      </tr>
    </ng-container>
    <ng-container *ngIf="tasks.length">
      <tr class="app-row" *ngFor="let task of tasks; let i=index; let odd=odd; trackBy: trackById">
        <td class="icon-width">{{i+1}}
        </td>
        <td>
          <span *ngIf="!task.edit">{{task.text}}</span>
          <span *ngIf="task.edit">
            <input type="text" id="input-{{i}}" name="taskEdit" class="form-control edit-task" [(ngModel)]="task.editedTask" placeholder="Type here........"
              (keyup.enter)="saveTask(task,i)">
          </span>
        </td>
        <!-- edit -->
        <td class="icon-width" *ngIf="!task.edit">
          <button class="fa fa-pencil nobutton hand" aria-hidden="true" (click)="editTask(task,i)"></button>
        </td>
        <!-- save -->
        <td class="icon-width" *ngIf="task.edit">
          <button class="fa fa-floppy-o nobutton {{(task.editedTask === task.text)?'cancel-icon':'hand'}}" aria-hidden="true" (click)="saveTask(task,i)"
            [disabled]="task.editedTask === task.text"></button>
        </td>
        <!-- delete -->
        <td class="icon-width" *ngIf="!task.edit">
          <button class="fa fa-trash-o nobutton hand" aria-hidden="true" (click)="deleteTask(task)"></button>
        </td>
        <!-- cancel -->
        <td class="icon-width" *ngIf="task.edit">
          <button class="fa fa-ban nobutton hand" aria-hidden="true" (click)="cancelTask(task)"></button>
        </td>
      </tr>
    </ng-container>
  </table>
</div>